html {
    scroll-behavior: smooth;
}

body {
    background-color: #272727;
    color: #fff;
    font-family: "sofia-pro-soft", Arial, sans-serif;
    margin: 0;
    transition: 0.3s;
}

.hidden {
    display: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes floatIn {
    0% {
        opacity: 0;
        top: 30px;
    }

    33% {
        opacity: 0;
        top: 30px;
    }

    100% {
        opacity: 1;
        top: 0;
    }
}

@keyframes wave {
    0% {
        opacity: 0;
        top: 0;
    }

    50% {
        opacity: 1;
        top: -30px;
    }

    100% {
        top: 0;
        opacity: 1;
    }
}

.about-child {
    position: relative;
    opacity: 0;
    top: 30px;
}

@for $i from 0 through 3 {
    .about-child:nth-child(#{$i + 1}) {
        animation-name: floatIn;
        animation-delay: (0.3 * $i) + s;
        animation-duration: 1.5s;
        animation-fill-mode: forwards;
    }
}

.heading-two {
    font-size: 2.625rem;
    font-weight: 400;
    margin: 0 0 50px;

    @media screen and (max-width: 900px) {
        font-size: 2rem;
        margin: 0 0 25px;
    }

    @media screen and (max-width: 600px) {
        font-size: 1.5rem;
    }
}

.about,
.more-info {
    display: block;
    margin: 160px auto;
    max-width: 800px;
    padding: 0 25px;
    text-align: center;

    @media screen and (max-width: 900px) {
        margin: 60px auto;
    }
}

.nav {
    overflow: hidden;
    position: fixed;
    transition: 0.3s;
    top: 0;
    width: 100%;
    z-index: 99;

    @media (min-width: 650px) {
        background-color: #363636;
    }

    @media (max-width: 650px) {
        position: static;
    }

    &__hidden {
        top: -67px;
    }

    &__wrap {
        display: flex;
        height: 67px;
    }

    &__hamburger {
        align-items: center;
        align-self: center;
        display: flex;
        margin-left: 15px;

        @media screen and (min-width: 650px) {
            display: none;
        }
    }

    &__inner {
        animation-name: fadeIn;
        animation-delay: 0.95s;
        animation-duration: 1.2s;
        animation-fill-mode: forwards;
        display: flex;
        justify-content: space-evenly;
        margin: 0 auto;
        max-width: 1600px;
        opacity: 0;
        position: relative;
        text-align: center;
        width: 100%;

        @media screen and (min-width: 650px) {
            align-items: center;
        }

        @media screen and (max-width: 650px) {
            display: none;
            flex-direction: column;
            text-align: left;
        }

        &--open {
            display: flex;
        }
    }

    &__item {
        border-bottom: 2px solid transparent;
        color: #fff;
        font-size: 1.125rem;
        font-weight: 400;
        margin: 0 10px;
        text-decoration: none;
        transition: 0.3s;

        &:hover {
            border-bottom: 2px solid #ffffff;
        }

        &--active {
            color: #00CF6E;

            &:hover {
                border-bottom: 2px solid #00CF6E;
            }
        }

        &--cv {
            background-color: #19A966;
            border-bottom: 0 !important;
            border-radius: 999px;
            padding: 7.5px 22px;
            transition: 0.8s;
            outline: 2px solid transparent;

            &:hover,
            &:focus-visible {
                background-color: transparent;
                color: #1BB76E;
                outline: 2px solid #1BB76E;
                transition: 0.2s;
            }
        }

        @media (max-width: 1180px) {
            font-size: 0.8rem;
        }
    }

    @media screen and (max-width: 650px) {
        height: 55px;
    }
}

.about-me {
    padding-top: 67px;
    text-align: center;

    @media (max-width: 650px) {
        padding-top: 0px;
    }
}

.about {
    &__img {
        border-radius: 999px;
        height: 207px;
        margin-bottom: 28px;
        width: 207px;

        @media screen and (max-width: 900px) {
            height: 160px;
            width: 160px;
        }
    }

    &__header,
    &__sub-header {
        color: #CFCFCF;
        display: inline;
        font-size: 2.75rem;
        font-weight: 200;
        line-height: 3.68rem;
        margin: 0;

        em {
            color: #ffffff;
            font-style: normal;
            font-weight: 700;
        }

        @media screen and (max-width: 900px) {
            font-size: 2rem;
            line-height: 2.68rem;
        }

        @media screen and (max-width: 600px) {
            font-size: 1.5rem;
            line-height: 2rem;
        }
    }

    &__upper {
        margin-bottom: 70px;

        @media screen and (max-width: 900px) {
            margin-bottom: 35px;
        }
    }

    &__hand,
    &__flag {
        height: 56px;
        margin-left: 4px;
        position: relative;
        width: 56px;

        @media screen and (max-width: 900px) {
            height: 30px;
            margin-left: 0;
            width: 30px;
        }

        @media screen and (max-width: 600px) {
            height: 25px;
            margin-left: 2px;
            width: 25px;
        }
    }

    &__hand {
        top: 10px;

        @media screen and (max-width: 900px) {
            top: 3px;
        }

        @media screen and (max-width: 600px) {
            top: 2.5px;
        }
    }

    &__flag {
        top: 13px;

        @media screen and (max-width: 900px) {
            top: 4px;
        }
    }
}

.more-info {
    display: inline-block;
    margin: 0 auto 100px;
    text-align: center;
    text-decoration: none;

    animation-name: fadeIn;
    animation-delay: 1.9s;
    animation-duration: 1.4s;
    animation-fill-mode: forwards;
    opacity: 0;

    @media screen and (max-width: 900px) {
        margin: 0 auto 60px;
    }

    &__text {
        color: #00CF6E;
        display: block;
        font-size: 1.44rem;
        font-weight: 700;
        margin-bottom: 8px;

        @media screen and (max-width: 900px) {
            font-size: 1.15rem;
        }

        @media screen and (max-width: 600px) {
            font-size: 0.95rem;
        }
    }

    .more-info-icon,
    &__text {
        position: relative;
        top: 0;
        transition: 0.3s ease-in-out;
    }

    .more-info-icon {
        height: 33px;
        width: 33px;

        &__stroke {
            stroke: #00cf6e;
        }

        @media screen and (max-width: 900px) {
            height: 25px;
            width: 25px;
        }

        @media screen and (max-width: 600px) {
            height: 22px;
            width: 22px;
        }
    }

    &:hover {
        .more-info__text {
            top: 10px;
        }

        .more-info-icon {
            top: 15px;
        }
    }
}

.skills-section {
    background: repeating-linear-gradient(-45deg,
            #333,
            #333 200px,
            #444 200px,
            #444 400px);
    padding: 100px 0;

    @media screen and (max-width: 900px) {
        padding: 60px 0;
    }
}

.career {
    margin: 0 auto;
    max-width: 1400px;
    text-align: center;
}

.skills {
    margin: 0 auto;
    max-width: 1100px;
    text-align: center;

    &__heading {
        padding: 0 25px;
    }
}

.skill-cards {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    padding: 0 25px;

    @media screen and (max-width: 900px) {
        grid-template-columns: 50% 50%;
        justify-content: left;
        margin: 0 auto;
        max-width: 566px;
        padding: 0 17px;
    }

    @media screen and (max-width: 500px) {
        grid-template-columns: 100%;
    }
}

@for $i from 0 through 3 {
    .skill-card__wrap:nth-child(#{$i + 1}) {
        animation-delay: (0.2 * $i) + s;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }
}

.skill-card {
    background-color: #ffffff;
    border-radius: 20px;
    display: flex;
    height: 100%;
    flex-direction: column;
    overflow: hidden;

    &__wrap {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        max-width: 326px;
        padding: 8px;
        position: relative;
        opacity: 0;
        top: 30px;

        &--animate {
            animation-name: floatIn;
        }
    }

    @media screen and (max-width: 900px) {
        border-radius: 14px;
        max-width: 275px;
    }

    &__name-section {
        padding: 26px;
        text-align: left;
        transform: rotate(-5deg) scale(1.4) translateY(-18px);

        @media screen and (max-width: 900px) {
            padding: 18px;
            transform: rotate(-5deg) scale(1.4) translateY(-12px);
        }

        &--purple {
            background-color: #6E1BB7;
        }

        &--green {
            background-color: #19A966;
        }

        &--red {
            background-color: #B71B1B;
        }

        &--blue {
            background-color: #1B59B7;
        }
    }

    &__name {
        font-size: 1.563rem;
        font-weight: 700;
        margin: 3px 0 0;
        transform: rotate(5deg) scale(0.71) translateY(21px);

        @media screen and (max-width: 900px) {
            font-size: 1.2rem;
            transform: rotate(5deg) scale(0.71) translateY(15px);
        }
    }

    &__info {
        text-align: left;
        padding: 0 26px;

        &--top {
            padding: 40px 26px 30px;

            @media screen and (max-width: 900px) {
                padding: 25px 18px 20px;
            }
        }

        &--bottom {
            margin-top: auto;
            padding: 0 26px 26px;

            @media screen and (max-width: 900px) {
                padding: 0 18px 22px;
            }
        }
    }

    &__info-header {
        font-size: 0.875rem;
        font-weight: 400;
        margin: 0 0 8px;

        @media screen and (max-width: 900px) {
            font-size: 0.8rem;
            margin: 0 0 5px;
        }

        &--purple {
            color: #6E1BB7;
        }

        &--green {
            color: #1BB76E;
        }

        &--red {
            color: #B71B1B;
        }
    }

    &__skills-list {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    &__skill {
        color: #000000;
        display: inline;
        font-size: 1.125rem;
        font-weight: 700;

        @media screen and (max-width: 900px) {
            font-size: 1rem;
        }

        &:after {
            content: "•";
            margin: 0 0 0 5px;
        }

        &:last-child {
            &:after {
                display: none;
            }
        }
    }
}

.certs {
    &__grid {
        align-items: center;
        display: grid;
        row-gap: 12px;

        @media screen and (max-width: 900px) {
            row-gap: 8px;
        }
    }

    &__text {
        color: #000000;
        font-size: 0.875rem;
        font-weight: 700;
        grid-column-start: 2;
        grid-column-end: 2;

        @media screen and (max-width: 900px) {
            font-size: 0.8rem;
        }
    }

    &__provider,
    &__date {
        font-weight: 300;
    }

    &__date {
        color: #AEAEAE;
    }

    &__logo {
        grid-column-start: 1;
        grid-column-end: 1;
        padding-right: 15px;
        width: 55px;

        @media screen and (max-width: 900px) {
            padding-right: 10px;
            width: 48px;
        }
    }
}

.career {
    max-width: 940px;

    &__heading {
        margin-bottom: 33px;

        @media screen and (max-width: 900px) {
            margin-bottom: 20px;
        }
    }

    padding: 100px 25px 100px;

    @media screen and (max-width: 900px) {
        padding: 60px 25px 60px;
    }
}

@for $i from 0 through 8 {
    .career-child:nth-child(#{$i + 1}) {
        animation-delay: (0.25 * $i) + s;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }
}

.career-child {
    opacity: 0;
}

.career-grid {
    display: grid;
    gap: 15px;
    grid-template-columns: 50% 50%;

    &--animate {
        animation-name: fadeIn;
    }

    @media screen and (max-width: 600px) {
        gap: 0;
        grid-template-columns: 100%;
    }

    &__logo {
        grid-column-start: 1;
        grid-column-end: 1;
    }

    &__logo {
        display: flex;

        img {
            align-self: center;
            max-width: 100%;

            @media screen and (max-width: 600px) {
                grid-column-start: 1;
                grid-column-end: 1;
                max-width: 50%;
            }
        }

        @media screen and (max-width: 600px) {
            justify-content: center;
        }
    }

    .career-info,
    &__line-wrap {
        margin-top: 24px;
    }

    .career-info {
        align-self: center;

        @media screen and (max-width: 600px) {
            margin-bottom: 22px;
        }
    }

    &__line {
        border-right: 1px solid #fff;
        height: 68px;
        margin: 0 auto;
        width: 1px;

        &--final {
            border-right: 1px dashed #fff;
            height: 34px;
        }
    }
}

.career-info {
    font-size: 1.563rem;
    font-weight: 300;

    &__location {
        color: #949494;
        font-size: 0.875rem;
        margin-bottom: 2px;

        @media screen and (max-width: 900px) {
            font-size: 0.8rem;
        }
    }

    &__role {
        font-size: 1.563rem;
        font-weight: 700;
        margin: 2px;

        @media screen and (max-width: 900px) {
            font-size: 1.3rem;
            margin: 2px 0 -2px;
        }
    }

    &__duration {
        font-size: 1.563rem;
        color: #CFCFCF;

        @media screen and (max-width: 900px) {
            font-size: 1.3rem;
        }
    }

    &__more-info {
        color: #00CF6E;
        font-size: 0.936rem;
        font-weight: 300;
        margin-top: 10px;

        @media screen and (max-width: 900px) {
            font-size: 0.85rem;
            margin-top: 6px;
        }

        &:hover {
            cursor: pointer;
        }
    }

    &__icon {
        margin-left: 6px;
        position: relative;
        top: 3px;
    }
}

.work-section {
    background-color: #191919;
    text-align: center;
    padding-bottom: 75px;
    padding-top: 100px;

    @media screen and (max-width: 900px) {
        padding-top: 60px;
    }

    &__see-more {
        display: inline-block;
        margin: 0 auto;
    }
}

.work-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: -25px auto 0;
    max-width: 904px;
    padding: 0 12.5px;

    @media screen and (max-width: 900px) {
        margin: 0 auto;
    }

    @media screen and (max-width: 600px) {
        grid-template-columns: 100%;
    }
}

@for $i from 0 through 8 {
    .work-item:nth-child(#{$i + 1}) {
        animation-delay: (0.2 * $i) + s;
        animation-duration: 1.5s;
        animation-fill-mode: forwards;
    }
}

.work-item {
    background-color: #ffffff;
    border-radius: 23px;
    margin: 25px;
    text-align: left;
    text-decoration: none;
    opacity: 0;
    overflow: hidden;

    &--animate {
        animation-name: fadeIn;
    }

    @media screen and (max-width: 900px) {
        border-radius: 14px;
        margin: 12.5px;
    }

    &__text-section {
        background-color: #19A966;
        color: #ffffff;
        padding: 16px 23px;
    }

    &__label {
        font-size: 0.688rem;
        font-weight: 400;
    }

    &__project {
        font-size: 1.25rem;
        font-weight: 700;
        margin: 5px 0 0;

        @media screen and (max-width: 600px) {
            font-size: 1rem;
        }
    }

    &__image {
        background-image: url();
        height: 348px;

        @media screen and (max-width: 600px) {
            height: 244px;
        }
    }
}

.socials {
    max-width: 1000px;
    margin: 0 auto;
    padding: 100px 25px 100px;
    text-align: center;

    @media screen and (max-width: 900px) {
        padding: 60px 25px 60px;
    }
}

.socials-grid {
    display: grid;
    flex-wrap: wrap;
    justify-content: center;
    grid-template-columns: 25% 25% 25% 25%;

    @media screen and (max-width: 600px) {
        grid-template-columns: 50% 50%;
        margin: 0 auto;
        max-width: 280px;
    }
}

@for $i from 0 through 8 {
    .social-item:nth-child(#{$i + 1}) {
        animation-delay: (0.3 * $i) + s;
        animation-duration: 0.75s;
        animation-fill-mode: forwards;
    }
}

.social-item {
    display: flex;
    flex-direction: column;
    opacity: 0;
    position: relative;
    row-gap: 16px;
    text-align: center;
    text-decoration: none;
    transition: 0.3s;
    top: 0;

    &--animate {
        animation-name: wave;
    }

    @media screen and (max-width: 600px) {
        margin-bottom: 45px;
    }

    &__img {
        margin: 0 auto;
        max-width: 100px;

        @media screen and (max-width: 600px) {
            max-width: 70px;
        }
    }

    &__text {
        color: #00CF6E;
        font-size: 1.2rem;
        font-weight: 300;

        @media screen and (max-width: 900px) {
            font-size: 1rem;
        }
    }

    &:hover {
        top: -7.5px;
    }
}

.contact {
    background-color: #19A966;
    padding: 100px 25px;
    text-align: center;

    @media screen and (max-width: 900px) {
        padding: 60px 25px;
    }

    &__header {
        margin: 0;
    }

    &__sub-text {
        color: #E3E3E3;
        font-size: 1.5rem;
        font-weight: 300;

        @media screen and (max-width: 900px) {
            font-size: 1.2rem;
        }
    }

    &__link {
        color: #fff;
        font-size: 1.5rem;
        font-weight: 400;
        text-decoration: none;

        @media screen and (max-width: 900px) {
            font-size: 1.2rem;
        }

        span {
            border-bottom: 2px solid transparent;
            transition: 0.3s;
        }

        &:hover {
            span {
                border-bottom: 2px solid #fff;
            }
        }
    }

    &__icon {
        height: 33.4px;
        margin-right: 8px;
        position: relative;
        top: 9px;
        width: 43px;

        @media screen and (max-width: 900px) {
            height: 26px;
            top: 8px;
            width: 32.5px;
        }
    }
}